$mainFontFamily:'Rubik',
sans-serif;
$mainHeadingsFontFamily:'Poppins',
sans-serif;
$upper-headingsFontColor: #676CDB;

$navbarBgColor:#212025;
$navbarMainFontColor:#FFFFFF;
$navbarAccentFontColor:#676CDB;

$heroBgColorMain: #212025;
$heroBgColorPhoto: #676CDB;
$heroBgColorButton: #676CDB;
$heroHeadingFontColor:#FFFFFF;
$heroSubtitlesFontColor:#9F9F9F;
$heroButtonFontColor:#FFFFFF;

$servicesHeadingsFontColor:#212025;
$servicesParagraphsFontColor:#9F9F9F;
$servicesBoxShadowColor: #676ddb21;
$servicesBoxBgHoverColor:#676CDB;
$servicesBoxFontHoverColor:#FFFFFF;

$aboutHeadingsFontColor:#212025;
$aboutReadButtonFontColor: #FFFFFF;
$aboutParagraphsFontColor:#9F9F9F;
$aboutPhotoBoxColor: #676CDB;
$aboutBgColorReadButton: #676CDB;
$aboutPhotoBoxColor: #676CDB;

$portfolioHeadingsFontColor: #212025;

$testimonialsHeadingsFontColor: #212025;
$testimonialsParagraphFontColor: #9F9F9F;
$testimonialsCompanyFontColor:#9F9F9F;
$testimonialsBoxShadowColor: #676ddb86;

$sliderBgColor:#676CDB;

$blogHeadingsFontColor:#212025;
$blogPostsUpperHeadingsFontColor:#676CDB;
$blogPostsUpperDateFontColor:#9F9F9F;
$blogPostsTextFontColor:#9F9F9F;
$blogBoxShadowColor: #676ddb21;

$contactHeadingsFontColor:#212025;
$contactDetailsTitlesFontColor:#212025;
$contactDetailsTextFontColor:#9F9F9F;
$contactFormBgColor: #676CDB;
$contactFormInputBgColor: #676CDB;
$contactFormInputFontColor: #FFFFFF;
$contactFormInputBorderColor: #a6a6a6;
$contactFormButtonFontColor:#FFFFFF;
$contactFormButtonBgColor:#212025;

$footerBgColor: #676CDB;
$footerFontColor:#FFFFFF;