$mainFontFamily:'Rubik',
sans-serif;
$mainHeadingsFontFamily:'Poppins',
sans-serif;

$heroBgColorMain: #212025;
$heroBgColorPhoto: #676CDB;
$heroBgColorButton: #676CDB;
$heroHeadingFontColor:#FFFFFF;
$heroSubtitlesFontColor:#9F9F9F;
$heroButtonFontColor:#FFFFFF;