$mainFontFamily:'Rubik',
sans-serif;
$mainHeadingsFontFamily:'Poppins',
sans-serif;
$upper-headingsFontColor: #676CDB;

$heroBgColorMain: #212025;
$heroBgColorPhoto: #676CDB;
$heroBgColorButton: #676CDB;
$heroHeadingFontColor:#FFFFFF;
$heroSubtitlesFontColor:#9F9F9F;
$heroButtonFontColor:#FFFFFF;

$servicesHeadingsFontColor:#212025;
$servicesParagraphsFontColor:#9F9F9F;
$servicesBoxShadowColor: #676ddb86;
$servicesBoxBgHoverColor:#676CDB;
$servicesBoxFontHoverColor:#FFFFFF;

$aboutHeadingsFontColor:#212025;
$aboutReadButtonFontColor: #FFFFFF;
$aboutParagraphsFontColor:#9F9F9F;
$aboutPhotoBoxColor: #676CDB;
$aboutBgColorReadButton: #676CDB;
$aboutPhotoBoxColor: #676CDB;

$portfolioHeadingsFontColor: #212025;

$testimonialsHeadingsFontColor: #212025;
$testimonialsParagraphFontColor: #9F9F9F;
$testimonialsCompanyFontColor:#9F9F9F;
$testimonialsBoxShadowColor: #676ddb86;