.about {

  &__content {
    display: flex;
    flex-direction: row;

    @include forTablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__photo-box {
    width: 45%;
    position: relative;
    display: flex;
    justify-content: flex-start;

    &::after {
      content: " ";
      background-color: $aboutPhotoBoxColor;
      width: 270px;
      height: 270px;
      position: absolute;
      border-radius: 20px;
      top: 200px;
      right: 365px;
      display: inline-block;
      z-index: 1;

      @include forTablet {
        top: 45%;
        right: 45%;
      }

    }
  }

  &__photo {
    max-width: 435px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
  }

  &__text-box {
    width: 55%;
  }

  &__upper-heading {
    @include forTablet {
      margin: 60px 0 0 0;
    }
  }

  &__main-heading {
    font-size: 48px;
    color: $aboutHeadingsFontColor;
    margin: 0;

  }


  &__text-first-paragraph,
  &__text-second-paragraph {
    color: $aboutParagraphsFontColor;
    font-size: 18px;
  }

  &__text-second-paragraph {
    margin: 20px 0 20px 0;
  }

  &__buttons {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__read-button {
    font-size: 18px;
    background-color: $aboutBgColorReadButton;
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
  }

  &__read-button-text {
    color: $aboutReadButtonFontColor;
  }

  &__play-button {
    background-color: $aboutPlayButtonBgColor;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__play-button-icon {
    color: $aboutPlayButtonArrowColor;
    font-size: 25px;
  }

  &__play-button-caption {
    font-size: 18px;
  }
}