.about {

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__photo-box {
    width: 40%;
  }

  &__photo {
    width: 80%;
    border-radius: 20px;

    &:after {
      content: "";
      background-color: $aboutPhotoBoxColor;
      display: block;
      width: 100px;
      height: 100px;
    }
  }

  &__text-box {
    width: 60%;
  }

  &__upper-heading {}

  &__main-heading {
    font-size: 48px;
    color: $aboutHeadingsFontColor;
  }

  &__text {
    color: $aboutParagraphsFontColor;
    line-height: 1.5;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__read-button {
    font-size: 18px;
    background-color: $aboutBgColorReadButton;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
  }

  &__read-button-text {
    color: $aboutReadButtonFontColor;
  }

  &__play-button {}

  &__play-button-icon {}

  &__play-button-caption {}
}