.blog {

  &__section {}

  &__upper-heading {
    text-align: center;
  }

  &__main-heading {
    font-size: 48px;
    text-align: center;
    color: $blogHeadingsFontColor;
    max-width: 600px;
    margin: 0 auto 40px;
  }

  &__posts {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @include forTablet {
      flex-wrap: wrap;
    }

    @include forSmarthphone {
      flex-direction: column;
    }
  }

  &__box {
    width: calc(100/3);
    border-radius: 20px;
    box-shadow: 20px 20px 50px $blogBoxShadowColor;

    @include forTablet {
      width: 50%;
    }

    @include forSmarthphone {
      width: 100%;
    }
  }

  &__box-image {
    width: 100%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


    &:hover {
      transform: scale(1.1);
      transition: 2s;
    }
  }

  &__text-box {
    padding: 30px;
  }

  &__post-upper-heading {
    color: $blogPostsUpperHeadingsFontColor;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  &__post-upper-date {
    color: $blogPostsUpperDateFontColor;
    font-size: 18px;
  }

  &__post-main-heading {
    color: $blogHeadingsFontColor;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    line-height: 1.5;
  }

  &__description {
    color: $blogPostsTextFontColor;
    font-size: 18px;
    line-height: 1.5;
  }
}