.contact {
  margin: 160px 0 120px 0;

  &__sections {
    display: flex;
  }

  &__upper-heading {
    text-align: left;
  }

  &__main-heading {
    font-size: 48px;
    color: $contactHeadingsFontColor;
    text-align: left;
    margin: 0 40px 40px 0;
  }

  &__section {
    width: 50%;
  }

  &__details {
    @include reset-list;
  }

  &__details-title {
    font-size: 22px;
    color: $contactDetailsTitlesFontColor;
    font-weight: 500;
  }

  &__details-text {
    font-size: 18px;
    color: $contactDetailsTextFontColor;
    margin: 0 0 30px 0;
    line-height: 1.5;
    width: 40%;
  }

  &__section-form {
    background-color: $contactFormBgColor;
    border-radius: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
  }

  &__input {
    font-size: 18px;
    margin: 0 0 60px 0;
    background-color: $contactFormBgColor;
    border: none;
    border-bottom: 1px solid $contactFormInputBorderColor;
    outline: none;
    color: $contactFormInputFontColor;
    width: 80%;
    font-weight: 300;
    line-height: 3;

    &::placeholder {
      color: $contactFormInputFontColor;
    }

    &:last-of-type {
      margin-bottom: 40px;
      background-color: none;
    }

  }

  &__button {
    font-size: 18px;
    color: $contactFormButtonFontColor;
    background-color: $contactFormButtonBgColor;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    margin: 0 0 40px 0;
  }

}