.services {
  display: block;
  margin: 120px 0;

  &__upper-heading {
    text-align: center;
  }

  &__main-heading {
    font-size: 48px;
    text-align: center;
    color: $servicesHeadingsFontColor;
    font-weight: 700;
    width: 30%;
    margin: 0 auto;
  }

  &__list {
    @include reset-list;
    display: flex;
    gap: 30px;
    margin: 40px 0 0 0;

    @include forSmarthphone {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box-content {
    width: calc(100/3);
    box-shadow: 20px 20px 50px $servicesBoxShadowColor;
    border-radius: 20px;
    padding: 35px;

    &:hover {
      color: $servicesBoxFontHoverColor;
      background-color: $servicesBoxBgHoverColor;

      h5 {
        color: $servicesBoxFontHoverColor;
      }

      p {
        color: $servicesBoxFontHoverColor;
      }
    }

    @include forTablet {
      width: 50%;
    }
  }

  &__icon {
    font-size: 60px;
  }

  &__box-heading {
    font-size: 25px;
    color: $servicesHeadingsFontColor;
    font-weight: 500;
    margin: 20px 0;
  }

  &__box-text {
    font-size: 18px;
    color: $servicesParagraphsFontColor;
  }

}