.services {
  height: 100vh;
  margin: 80px 0;

  &__upper-heading {
    text-align: center;
  }

  &__main-heading {
    font-size: 48px;
    text-align: center;
    color: $servicesHeadingsFontColor;
    font-weight: 700;
    width: 40%;
    margin: 0 auto;
  }

  &__list {
    @include reset-list;
    display: flex;
    gap: 30px;
    margin: 40px 0 0 0;
  }

  &__box-content {
    width: calc(100/3);
    box-shadow: 20px 20px 50px $servicesBoxShadowColor;
    border-radius: 10px;
    padding: 30px;

    &:hover {
      background-color: $servicesBoxBgHoverColor;
      color: $servicesBoxFontHoverColor;
    }
  }

  &__icon {
    font-size: 60px;
  }

  &__box-heading {
    font-size: 25px;
    color: $servicesHeadingsFontColor;
    font-weight: 500;
  }

  &__box-text {
    font-size: 20px;
    line-height: 1.5;
    color: $servicesParagraphsFontColor;
  }

}