.slider {

  margin: 80px 0;

  .tns-nav {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    gap: 6px;

  }

  &__element {
    background-color: $sliderBgColor;
    border-radius: 20px;
  }

  &__item {
    img {
      width: 80%;
      display: block;
    }
  }

  &__logo {}
}